In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

from SQL_Table import *

In [ ]:
sdb = SQL_DB("nicecream.db")

In [ ]:
sdb.tables

## Treating SQL tables as if a Table

In [ ]:
cones = SQL_Table(sdb, "cones")
cones

In [ ]:
cones.show(4, verbose=True)

In [ ]:
cones.exists

In [ ]:
# Create a Table from a SQL Table
ct = cones.table(verbose=True)
ct

In [ ]:
type(cones), type(ct)

In [ ]:
cones.labels

In [ ]:
cones.num_columns

In [ ]:
cones.num_rows

In [ ]:
len(cones)

In [ ]:
cones.column('Flavor', verbose=True)

In [ ]:
cones['Color']

In [ ]:
cones[2]

In [ ]:
cones.columns

In [ ]:
cones.select('Flavor', verbose=True)

In [ ]:
cones.select(['Flavor', 'Color'], verbose=True)

In [ ]:
cones.where("Flavor", "chocolate", verbose=True)

In [ ]:
cones.where("Price", 5.25, verbose=True)

In [ ]:
# Pass SQL comparison operator as text
#
cones.where("Flavor", "<", "Color", verbose=True)

In [ ]:
sales = SQL_Table(sdb, 'sales')

In [ ]:
sales.show()

In [ ]:
# Join two SQL_Tables in DB
sales.join("TID", cones, "Id", verbose=True)

In [ ]:
# Join Table with Table
sales.table().join("TID", ct, "Id")

In [ ]:
# Join a SQL_Table with a Table
sales.join("TID", ct, "Id", verbose=True)

In [ ]:
cones.sort("Price", verbose=True)

In [ ]:
cones.sort("Price", descending=True, verbose=True)

In [ ]:
ct.group('Flavor')

In [ ]:
cones.group('Flavor', verbose=True)

In [ ]:
ct.groups(['Flavor', 'Color'])

In [ ]:
cones.groups(['Flavor', 'Color'])

In [ ]:
cones.groups(['Flavor', 'Color'], collect=sum)

In [ ]:
cones.groups(['Flavor', 'Color'], sum)

In [ ]:
cones.scatter("Id", "Price")

## Creating SQL from Tables

In [ ]:
ncones = SQL_Table(sdb, "ncones")

In [ ]:
ncones.exists

In [ ]:
if ncones.exists:
    ncones.remove()

In [ ]:
ncones.create(ct, verbose=True)

In [ ]:
sdb.tables

In [ ]:
ncones.table()

In [ ]:
ncones.rename("foo")

In [ ]:
sdb.tables

In [ ]:
ncones.remove()

In [ ]:
sdb.tables

In [ ]:
ncones = cones.replicate("ncones")
ncones

In [ ]:
sdb.tables

In [ ]:
ncones.table()

## Mutation on SQL tables

In [ ]:
nct = ct.copy()

In [ ]:
# The conventional table
nct.append((7, 'Vanila', "Yellow", 2.95))
nct

In [ ]:
ncones.append((7, 'Vanila', "Yellow", 2.95), verbose=True)
ncones.table()

In [ ]:
tbl = Table(('Id', 'Flavor', 'Color', 'Price')).with_rows([
    (8, 'Cherry', 'Red', 5,65),
    (9, 'Cherry', 'Red', 5,65)
])
tbl

In [ ]:
ncones.append(tbl, verbose=True)

In [ ]:
ncones.show(verbose=True)

In [ ]:
#sdb.close()